<!DOCTYPE html>
<html>
<head>
	<title>Mama Faber's - Login</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/login.css">
</head>

<body style="background-image: url('../public/images/background.jpg'")>
<br>

<div class="container">
	<br>
<br>
	
	<div class="containerdivNewLine"></div>
<br>

<br>

	
	<div class="login">
		<div class="row no-gutter">
			<div class="col-md-4"></div>
			<div class="col-md-4">
					<h2 style="font-weight: bold;text-align: center">User Login</h2> <br>
					<img src="../public/images/key.png" id="key" name="key" alt="login">
			</div>
			<div class="col-md-4"></div>

		</div>
	    <div class="row no-gutter">
	    	<div class="col-md-4"></div>
	        <div class="col-md-4">
	        	<br>
				<form action="/checkLogin" method="post">
					<h4 style="font-style: italic; text-align: center">Welcome Back!</h4><br>
					<label for="userName">Email:</label>
					<input type="text" name = "username" id="userName" class="form-control input-lg chat-input" placeholder="example@fakemail.com" />
					<br>
					<label for="userPassword">Password:</label>
					<input type="password" name = "password" id="userPassword" class="form-control input-lg chat-input" placeholder="password" />
					<br>

					<input type="submit" value="Log In" class="btn btn-success btn-block btn-lg"/>
					<br>
					<center><a href="/createAccount">Create a free account</a></center>
				</form>
	            <br>
	        </div>   
	        <div class="col-md-4"></div>
	    </div>
	    <br>
	    <br><br><br><br>
	    
    </div>

</div>
</body>
<br>
</html>